<ul>
  <li class="text" *ngFor="let location of locations">
    {{location.name}}
  </li>
</ul>
<p *ngIf="game?.id">El game id es <b>{{game.id}}</b></p>
<button *ngIf="!game?.id" (click)="generateNewGame()">Crear Nuevo Juego</button>

<div *ngIf="game?.id">
  <input type="text" placeholder="Id del juego" [(ngModel)]="playerGame.gameId" />
  <br />
  <input type="text" placeholder="Gamer tag" [(ngModel)]="playerGame.gamerTag" />
  <br />

  <button (click)="joinGame()" [disabled]="!playerGame.gameId || !playerGame.gamerTag">Unir a la partida</button>
  <button (click)="startGame()" [disabled]="!playerGame.gameId || !playerGame.gamerTag">Comenzar Partida</button>
</div>
